:host{
.listagem {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0;
    flex-wrap: wrap;

    .pokemon {
        position: relative;
        display: flex;
        width: calc(49% - 2.5rem);
        height: calc(9.8125rem - 2.5rem);
        background: var(--branco);
        border-radius: 0.625rem;
        padding: 1.25rem;
        margin-bottom: 0.625rem;
        text-decoration: none;
        color: var(--primary-color);

        &__status{
            h2{
                font-size: 1.375rem;
                font-style: italic;
                font-weight: 700;
                margin-bottom: 0.625rem;
                text-transform: capitalize;
            }

            ul{
                display: flex;
                flex-direction: column;

                li{
                    background: var(--cinza);
                    font-size: 0.625rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 3.125rem;
                    width: 3.75rem;
                    margin-bottom: 0.3125;
                }
            }
        }

        &__image {
            position: absolute;
            height: 5.625rem;
            width: 6.875rem;
            right: 1.25rem;
            bottom: 1.25rem;
            background: url('../../../assets/bg/background-list-pokemons.svg') no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 3.75rem;
            }
        }
    }
}
}